/* Inputs */

.info-section {
    display: flex;
    padding: 1rem;
    justify-content: center;
}

.info-section form .inputs-container {
    display: flex;
    justify-content: center;
}

.info-section form .inputs-container label {
    margin: 1rem;
}