/* Inputs */

.info-section {
    display: flex;
    padding: 1rem;
    justify-content: center;
}

.info-section form .inputs {
    display: flex;
    justify-content: center;
}

.info-section form .inputs label {
    margin: 1rem;
}